<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tridente Trae</title>
    <link rel="stylesheet" href="style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/83de4e0d0e.js" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">Tridente Trae</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="">Productos</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</head>

<body class="bg-secondary">
    <div class="container-fluid text-center">
        <div class="row pt-5">
            <div class="col-1"></div>
            <div class="col">
                <div class="body-text">
                    <div class="card border border-dark" style="width: 18rem;">
                        <img src="../src/Macbook.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MacBook Pro</h5>
                            <p class="card-text">Llegó la MacBook Pro más poderosa de todas. De la mano de los
                                ultrarrápidos chips M1 Pro y M1 Max, los primeros diseñados por Apple para profesionales
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="body-text">
                    <div class="card border border-dark" style="width: 18rem;">
                        <img src="../src/IPhone14.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">IPhone 14</h5>
                            <p class="card-text">La familia de iPhone 14 trae grandes novedades: pantalla siempre
                                activa, Dynamic Island, Modo Acción, nuevos colores...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="body-text">
                    <div class="card border border-dark" style="width: 18rem;">
                        <img src="../src/Botella.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Johnnie Walker Blue</h5>
                            <p class="card-text">Johnnie Walker Blue Label es una obra maestra inigualable. Es una
                                mezcla exquisita hecha con algunos de los whiskies más raros y excepcionales de Escocia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-1"></div>
            <div class="col">
                <div class="body-text">
                    <div class="card border border-dark" style="width: 18rem;">
                        <img src="../src/Perfume.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Perfume One Million</h5>
                            <p class="card-text">Un aroma fresco y chispeante, hecho de mandarina roja y menta piperita
                                que se mezclan con esencia de rosa y canela y con un delicioso acorde de cuero y ámbar
                                ketal en el fondo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="body-text">
                    <div class="card border border-dark" style="width: 18rem;">
                        <img src="../src/Botines.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nike mercurial vapor 14 elite</h5>
                            <p class="card-text">El Nike Mercurial Vapor 14 Elite FG presenta un nuevo look con
                                componentes especializados que te permiten jugar más rápido de principio a fin.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="body-text">
                    <div class="card border border-dark" style="width: 18rem;">
                        <img src="../src/Airpods.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Airpods pro</h5>
                            <p class="card-text">Dos micrófonos, sensor de piel, sensor de presión, acelerómetro con
                                detección de movimiento y voz. Y hasta 6 horas (con una sola carga). Hasta 30 horas de
                                reproducción (con la base de carga)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-1"></div>
            <div class="col">
                <div class="body-text">
                    <div class="card border border-dark" style="width: 18rem;">
                        <img src="../src/Short.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Short Deportivo</h5>
                            <p class="card-text">Pantalón corto de tela deportiva representando a uno de los mejores
                                equipos de basketbal de la historia- Ideal para entrenar ó para uso recreativo/casual.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="bg-dark text-center text-white mt-auto">
        <div class="container p-4">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" target="_blank"
                    role="button">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" target="_blank"
                    role="button">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" target="_blank"
                    role="button">
                    <i class="fab fa-google"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/tridentetrae"
                    target="_blank" role="button">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1"
                    href="https://github.com/juanchyscaglione/PreEntrega2Scaglione" role="button" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </section>
            <section class="">
                <form action="">
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto">
                            <p class="pt-2">
                                <strong>Ingrese su mail para mas información</strong>
                            </p>
                        </div>
                        <div class="col-md-5 col-12">
                            <div class="form-outline form-white mb-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Email</span>
                                    <input type="text" class="form-control" placeholder="tridentetrae@example.com"
                                        aria-label="Email" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Confirmar
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content bg-dark">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Email guardado
                                                correctamente</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Muchas gracias por confiar en nosotros, estaremos en contacto con usted!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://www.instagram.com/tridentetrae/?hl=es-la">Tridente Trae</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>